/*nav bar*/
ul{
    list-style-type:none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: black;
    font-size: 18px;
    opacity: 0.9;
}


li {
    float:left;
}

li a{
   padding: 20px;
}

li a:hover{
    background-color: 111;
}



.dropdownbar{
  display:none;
  position:absolute;
  z-index: 1;
}

.dropdownbar a{
  display:block;
  padding-bottom: 10px;
  text-align: left;
  color: white;
  background: black;
}

.dropdown:hover .dropdownbar{
  display:block;
  position:absolute;
}

.entry{
  float:right;
  margin-right: 50px;
}

main{
  height:75vh;
}

/***********************************/

.footer{
  color: white;
  background-color: black;
  font-size: 18px;
  opacity: 0.9;
}

h1.title {
  color: black;
  text-align: center;
  margin-top: 50px;

}

h3{
  text-align:center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
div{
    display:block;
}

a{
    text-decoration: none;
    color: white;
}

.my-image{
  margin:auto;
  padding: top 0px;
  display:block;
  width: 375px;
  height: 350px;
}
/*FORM STYLES*/
 input[type=text], input[type=password] {
    width: 400px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=date], input[type=number] {
    width: 200px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }


/*buttons*/
  .registerbtn, .loginbtn, .exbtn {
    background-color: black;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100px;
    opacity: 0.9;
  }

  form input [type = "submit"] {
    background-color: black;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100px;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }

  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

/**containers*/
div.login_container, div.exercise-container{
    margin-left: 500px;
   margin-right: 500px;
   margin-top: 100px;
  }

div.register_container{
  margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
}

div.bmi_container{
  margin-top: 60px;
  margin-left: 600px;
  margin-right: 500px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.container div {
  height: 350px;
  width: 350px;
}

/*Profile Page*/
#profile{
  border-radius:15px;
  margin: 30px auto;
  padding: 40px 50px;
}

  /**********************************/